# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist
/build

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# cache & tooling
/.vite
/.cache
coverage/

# lockfiles (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml
